{% extends 'Recharge/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 m-3">
          {% for plan in plan_airtel %}
            <div class="card text-center">
                <div class="card-header">
                  {{plan.company}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{plan.price}}</h5>
                  <h5 class="card-text">{{plan.data}}</h5>
                  <h6 class="card-text">{{plan.sms}} per day</h6>
                  <h5 class="card-text">{{plan.validity}}</h5>
                  <a href="#" class="btn btn-primary">Buy</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
              {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 m-3">
            column 2
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 m-3">
            column 3
        </div>
    </div>
</div>
{% endblock content %}
