{% extends 'Recharge/base.html' %}

{% block content %}
<div class="container">
    <div class="row align-items-center m-5">
        <div class="col-md-12 m-3">
            <div class="dropdown" style="width: 100%;">
                <h6 class="dropdown-toggle" type="button" id="" data-bs-toggle="dropdown">
                    Airtel
                </h6>
                <ul class="dropdown-menu" aria-labelledby="">
                  <li><a class="dropdown-item" href="/View-plans">View Plans</a></li>
                  <li><a class="dropdown-item" href="/airtel-recharge">Recharge</a></li>
                </ul>
              </div>
        </div>
        <div class="col-md-12 m-3">Jio</div>
        <div class="col-md-12 m-3">VI</div>
    </div>
</div>
{% endblock content %}