{% extends 'Recharge/base.html' %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 m-3">
      <div class="row justify-content-center">
        <div class="col-md-6">
          {% if phone_num and amount %}
          <strong>{{phone_num}}</strong>
        </div>
        <div class="col-md-6">
          <div class="">
            <strong>{{amount}} &#x20B9;</strong>
          </div>
        </div>
      </div>
      {% elif phone_num %}
      <strong>{{phone_num}}</strong>
      {% endif %}
    </div>
    <div class="col-md-8 m-3">
      {% if plan_jio %}
      {% for plan in plan_jio %}
      <div class="card text-center">
        <div class="card-header">{{plan.company}}</div>
        <div class="card-body">
          <h5 class="card-title">{{plan.price}} &#x20B9;</h5>
          <h5 class="card-text">{{plan.data}}GB/Day</h5>
          <p class="card-text">{{plan.sms}} sms/Day</p>
          <p class="card-text">{{plan.validity}} Days</p>
          {% if not phone_num %}
          <form action="/phone-number/" method="post">
            {% csrf_token %}
            <input type="hidden" class="card-text" name="planid" value="{{plan.id}}" />
            <input type="hidden" class="card-text" name="companyname" value="{{plan.company}}" />
            <input type="submit" name="submit" value="Buy" class="btn btn-danger" />
          </form>
          {% else %}
          <form action="/payment/" method="post">
            {% csrf_token %}
            <input type="hidden" class="card-text" name="planid" value="{{plan.id}}" />
            <input type="hidden" class="card-text" name="companyname" value="{{plan.company}}" />
            <input type="hidden" class="card-text" name="phonenum" value="{{phone_num}}"/>
            <input type="submit" name="submit" value="Buy" class="btn btn-danger" />
          </form>
          {% endif %}
        </div>
        <div class="card-footer text-muted">2 days ago</div>
      </div>
      {% endfor %}
      {% else %}
      <div><strong>{{msg}}</strong></div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}