{% extends 'Recharge/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 my-5">
            <h4>VI Prepaid</h4>
            <form action="/ViView-plans/" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <input type="text" placeholder="Mobile Number" class="form-control" name="monumber" id="monumber" required>
                  <div id="" class="form-text">Enter your mobile number for best offer</div>
                </div>
                <div class="mb-3">
                  <input type="text" placeholder="Amount" name="amount" class="form-control" id="amount">
                </div>
                <input type="submit" class="btn btn-danger" value="Search Plans">
              </form>
        </div>
    </div>
</div>
{% endblock content %}